@model ActivityEnrollment

<form method ="post">
   <h2>
       Employee's Activity
   </h2><br />

 @* @Html.ListBoxFor(Model => Model.EmployeeActivityId,
   new MultiSelectList(Model.ActivityList, "Activity"),
   new{id = "multipledropdown",multiple="multiple"}  )
  *@
    <select asp-for ="ApplicationUserId" asp-items ="@ViewBag.TypeDropDown">
           <option selected>--Select Employee--</option>
       </select>

        <select asp-for ="EmployeeActivityId" asp-items ="@ViewBag.TypeDropDown2">
           <option selected>--Select Employee Activity--</option>
       </select>
      
       <p style = "color:red;">
           @Html.Label("",Convert.ToString((string)ViewBag.Duplicate1))
       </p> 
        <p style = "color:red;">
           @Html.Label("",Convert.ToString((string)ViewBag.Duplicate2))
       </p>
       <br /><br />

   <button type ="submit" class= "btn btn-primary">
       Create
   </button>
   <a asp-controller="ActivityEnrollment" asp-action="Index" class = "btn btn-secondary">
       Back
   </a>
</form>
@*@section scripts{
    <script>
        $(function(){
            $("#multipleDropDown").chosen({
                width : "100%"} );
         } ) ; 
         
         </script>
}*@